body {
    background-color: #ebf6f7;
    max-width: 1440px; 
    margin: 0 auto; 
  }

.dummy-container {
    height: 100vh; 
}

.image-container {
    height: 100vh; 
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.static-image,
.animated-gif {
    height: auto; 
    position: absolute; 
}


.animated-gif {
    opacity: 0; 
}

@media screen and (max-width: 480px) {
    .static-image,
    .animated-gif {
        width: 96%; 
        max-width: none; 
    }
}